.advantages {
	@include adaptiv-value("padding-top", 88, 30, 1);
	@include adaptiv-value("padding-bottom", 88, 30, 1);
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__item {
		display: inline-grid;
		grid-template: auto auto / 85px 1fr;
		padding: 15px 0px;
		@media (max-width: $md2+px) {
			min-width: 280px;
		}
		@media (max-width: $md3+px) {
			grid-template: auto auto / auto 1fr;
		}
	}
	&__icon {
		grid-row: span 2;
		text-align: center;
		align-self: center;
		@media (max-width: $md3+px) {
			padding: 0px 15px 0px 0px;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 150%;
		margin: 0px 0px math.div(2px, 18px) * 1em 0px;
	}
	&__text {
		color: $grayColor;
		line-height: 150%;
	}
}