.furniture {
	@include adaptiv-value("padding-bottom", 85, 40, 1);
	&__label {
		color: $darkGrayColor;
		text-align: center;
		line-height: 150%;
		@include adaptiv-value("font-size", 20, 16, 1);
		&:not(:last-child) {
			margin: 0px 0px math.div(8px, 20px) * 1em 0px;
		}
	}
	&__title {
		margin: 0px 0px math.div(32px, 40px) * 1em 0px;
	}
	&__body {
		position: relative;
		@media (any-hover: none) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
		@media (any-hover: hover) {
			justify-content: center;
		}
	}
	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0px -8px;
		&:first-child {
			justify-content: flex-end;
		}
	}
	&__row {
		display: inline-grid;
		gap: 16px;
		grid-template-columns: auto;
		grid-auto-flow: column;
		padding: 0px 8px;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
}
.row-furniture {
	&_left-top {
		justify-content: end;
		align-items: end;
	}
	&_left-bottom {
		justify-content: end;
		align-items: start;
	}
	&_center {
		display: block;
	}
	&_right-top {
		align-items: end;
	}
	&_right-bottom {
		align-items: start;
	}
	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s ease 0s;
				filter: grayscale(1);
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}