.products {
	@include adaptiv-value("padding-bottom", 44, 30, 1);
	&__title {
		margin: 0px 0px math.div(32px, 40px) * 1em 0px;
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
		gap: 32px;
	}
	&__footer {
		padding: 32px 0px 0px 0px;
		text-align: center;
	}
	&__more {
		border: 1px solid $orangeColor;
		min-width: 245px;
		&._hold {
			opacity: 0.4;
			cursor: default;
		}
	}
}
.item-product {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #f4f5f7;
	@media (any-hover: hover) {
		&:hover {
			.item-product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__labels {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 2;
		@include adaptiv-value("right", 24, 10, 1);
		@include adaptiv-value("top", 24, 10, 1);
	}
	&__label {
		width: 48px;
		display: flex;
		flex: 0 0 48px;
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-weight: 500;
		border-radius: 50%;
		&:not(:last-child) {
			margin: 0px 0px 10px 0px;
		}
		&_sale {
			background: #e97171;
		}
		&_new {
			background: #2ec1ac;
		}
	}
	&__image {
		padding: 0px 0px math.div(301px, 285px) * 100% 0px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 16px 16px 30px 16px;
	}
	&__content {
		flex: 1 1 auto;
	}
	&__title {
		@include adaptiv-value("font-size", 24, 20, 1);
		font-weight: 600;
		line-height: 120%;
		margin: 0px 0px math.div(8px, 24px) * 1em 0px;
	}
	&__text {
		color: $grayColor;
		line-height: 150%;
		margin: 0px 0px math.div(8px, 24px) * 1em 0px;
	}
	&__prices {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		line-height: 150%;
	}
	&__price {
		@include adaptiv-value("font-size", 20, 16, 1);
		font-weight: 600;
		&_old {
			@include adaptiv-value("font-size", 16, 14, 1);
			color: #b0b0b0;
			font-weight: normal;
			text-decoration: line-through;
			margin: 0px 0px 0px 16px;
		}
	}
	&__actions {
		@media (any-hover: none) {
			padding: 15px 0px 0px 0px;
		}
		@media (any-hover: hover) {
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;
			background-color: rgba(58, 58, 58, 0.74);
			z-index: 3;
		}
	}
}
.actions-product {
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__button {
		flex: 1 1 100%;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		&._hold {
			opacity: 0.2;
			cursor: default;
		}
	}
	&__link {
		display: flex;
		align-items: center;
		color: inherit;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		&::before {
			margin: 0px 10px 0px 0px;
			font-size: 16px;
		}
		@media (any-hover: hover) {
			color: #ffffff;
			&:hover {
				color: $orangeColor;
			}
		}
	}
}