.main-slider {
	background: #fcf8f3;
	&__container {
		position: relative;
		@media (min-width: $md2+px) {
			&::before {
				content: "";
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				right: 376px;
				background: #f9f1e7;
			}
		}
	}
	&__body {
		position: relative;
		padding: 140px 0px 0px 0px;
		z-index: 2;
		@media (max-width: $md2+px) {
			padding: 80px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 50px 0px 0px 0px;
		}
		@media (min-width: $md2+px) {
			display: flex;
		}
	}
	&__content {
		align-self: flex-start;
		flex: 0 0 math.div(494, 1240) * 100%;
		@include adaptiv-value("margin-bottom", 80, 15, 1);
		@media (max-width: $md2+px) {
			margin: 0px -15px;
		}
	}
	&__slider {
		min-width: 0;
		flex: 1 1 auto;
		align-self: flex-end;
		@media (min-width: $md2+px) {
			padding: 0px 0px 0px 32px;
		}
	}
}
.content-main {
	position: relative;
	background: rgba(255, 255, 255, 0.72);
	padding-left: 15px;
	padding-right: 15px;
	z-index: 5;
	@include adaptiv-value("padding-top", 60, 15, 1);
	@include adaptiv-value("padding-bottom", 60, 15, 1);
	@media (min-width: $md2+px) {
		@include adaptiv-value("padding", 60, 1, 1);
		background: rgba(255, 255, 255, 0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	&__title {
		@include adaptiv-value("font-size", 56, 24, 1);
		font-weight: 700;
		line-height: 120%;
		&:not(:last-child) {
			margin: 0px 0px math.div(16px, 56px) * 1em 0px;
		}
	}
	&__text {
		@include adaptiv-value("font-size", 20, 16, 1);
		color: $grayColor;
		font-weight: 500;
		line-height: 150%;
		&:not(:last-child) {
			margin: 0px 0px math.div(48px, 20px) * 1em 0px;
		}
	}
	&__button {
		width: 100%;
		color: #ffffff;
		background-color: $orangeColor;
		font-weight: 600;
		border: 1px solid $orangeColor;
		@include adaptiv-value("min-height", 78, 45, 1);
		@include adaptiv-value("font-size", 20, 16, 1);
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
				background: rgba(255, 255, 255, 0.1);
				border-color: $orangeColor;
			}
		}
	}
}
.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: $md2+px) {
		align-items: stretch;
		flex-direction: column-reverse;
	}
	&__controls {
		align-self: stretch;
		margin: 0px 0px 20px 0px;
		@media (max-width: $md2+px) {
			margin: 10px 0px 20px 0px;
		}
	}
	&__body {
		overflow: visible;
		@media (min-width: $md2+px) {
			@include adaptiv-value("width", 934, 290, 1);
		}
		@media (max-width: $md2+px) {
			margin: 0px -15px;
		}
	}
	&__slide {
		position: relative;
	}
	&__image {
		padding: 0px 0px 59.1% 0px;
	}
	&__content {
		min-width: 295px;
		max-height: 300px;
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiv-value("padding", 24, 15, 1);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: $md3+px) {
			min-width: 350px;
			position: absolute;
			@include adaptiv-value("right", 40, 0, 1);
			@include adaptiv-value("bottom", 40, 0, 1);
		}
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	&__title {
		@include adaptiv-value("font-size", 28, 22, 1);
		font-weight: 600;
		line-height: 120%;
		&:not(:last-child) {
			margin: 0px 0px math.div(4px, 28px) * 1em 0px;
		}
	}
	&__text {
		color: $grayColor;
		line-height: 150%;
		&:not(:last-child) {
			margin: 0px 0px math.div(8px, 16px) * 1em 0px;
		}
	}
	&__price {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		line-height: 150%;
		@include adaptiv-value("font-size", 20, 16, 1);
		&::before {
			font-size: 12px;
			margin: 0px 0px 0px 10px;
		}
	}
}
.controls-slider-main {
	display: flex;
	align-items: center;
	&__dotts {
		flex: 1 1 auto;
		@media (min-width: $md2+px) {
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	&__arrows {
		@media (max-width: $md2+px) {
			display: none;
		}
	}
}