.tips {
	@include adaptiv-value("padding-top", 44, 30, 1);
	@include adaptiv-value("padding-bottom", 44, 30, 1);
}
.slider-tips {
	position: relative;
	&__body {
		@include adaptiv-value("margin-left", -32, -15, 1);
		@include adaptiv-value("margin-right", -32, -15, 1);
		@include adaptiv-value("padding", 32, 15, 1);
	}
	&__slide {
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
			}
		}
	}
	&__image {
		padding: 0px 0px math.div(251, 391) * 100% 0px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		align-items: flex-start;
		padding: 15px;
	}
	&__title {
		flex: 1 1 auto;
		color: inherit;
		font-weight: 600;
		line-height: 120%;
		@include adaptiv-value("font-size", 24, 18, 1);
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin: 0px 0px math.div(8px, 24px) * 1em 0px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
	&__text {
		color: $grayColor;
		font-size: 14px;
		line-height: 150%;
	}
	&__dotts {
		@include adaptiv-value("padding-top", 8, 0, 1);
		justify-content: center;
	}
	&__arrows {
		width: calc(100% - 48px);
		position: absolute;
		top: 50%;
		left: 24px;
		justify-content: space-between;
		pointer-events: none;
		transform: translate(0px, -50%);
		z-index: 5;
		@media (min-width: $md1+px) {
			width: calc(100% + 48px);
			left: -24px;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
	}
}