._footer-title {
	@include adaptiveValue("font-size", 24, 20);
	color: #000000;
	font-weight: 700;
	line-height: math.div(29, 24);
}
.btn {
	min-height: rem(48);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.3s ease 0s;
	padding: 0 rem(15);
	&_white {
		color: $orangeColor;
		background-color: #ffffff;
		@media (any-hover: hover) {
			&:hover {
				background-color: $orangeColor;
				color: #ffffff;
			}
		}
	}
}

// ============Slider - Arrows============
.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, rem(48));
	column-gap: rem(8);
}
.slider-arrow {
	height: rem(48);
	color: $orangeColor;
	background-color: rgba(232, 159, 113, 0.3);
	font-size: rem(12);
	border-radius: 50%;
	pointer-events: auto;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	&_prev {
		&::before {
			transform: rotate(90deg);
		}
	}
	&_next {
		&::before {
			transform: rotate(-90deg);
		}
	}
	@media (any-hover: hover) {
		&:hover {
			color: #ffffff;
			background-color: $orangeColor;
		}
	}
	&_white {
		background-color: #ffffff;
		box-shadow: 0 rem(4) rem(14) rem(1) rgba(0, 0, 0, 0.16);
		@media (any-hover: hover) {
			&:hover {
				background-color: $orangeColor;
				color: #ffffff;
			}
		}
	}
}
// ============Slider - Dots============
.swiper-pagination-bullets {
	display: flex;
	flex-wrap: wrap;
}
.swiper-pagination-bullet {
	height: rem(27);
	position: relative;
	display: flex;
	flex: 0 0 rem(27);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: rem(2) 0;
	&:not(:last-child) {
		margin-right: rem(12);
	}
	&::after {
		content: "";
		width: rem(11);
		height: rem(11);
		background-color: #d8d8d8;
		border-radius: 50%;
		transition: background-color 0.3s ease 0s;
	}
	&::before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		border: 1px solid $orangeColor;
		transition: transform 0.3s ease 0s;
		transform: scale(0);
	}
}
.swiper-pagination-bullet-active {
	&::after {
		background-color: $orangeColor;
	}
	&::before {
		transform: scale(1);
	}
}
