/*==================== PAGE-SLIDER ====================*/
.main-slider {
	background: #fcf8f3;
	// .main-slider__container
	&__container {
		position: relative;
		@media (min-width: $tablet) {
			&::before {
				content: "";
				width: 100vw;
				height: 100%;
				position: absolute;
				top: 0;
				right: rem(376);
				background: #f9f1e7;
			}
		}
	}
	// .main-slider__body
	&__body {
		position: relative;
		z-index: 2;
		padding-top: rem(140);
		@media (max-width: $tablet) {
			padding-top: rem(80);
		}
		@media (max-width: $mobile) {
			padding-top: rem(50);
		}
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .main-slider__content
	&__content {
		align-self: flex-start;
		flex: 0 0 math.div(494, 1240) * 100%;
		@include adaptiveValue("margin-bottom", 80, 15);
		@media (max-width: $tablet) {
			margin: 0 rem(-15);
		}
	}
	// .main-slider__slider
	&__slider {
		/* Лечение слайдера */
		min-width: 0;
		flex: 1 1 auto;
		align-self: flex-end;
		@media (min-width: $tablet) {
			padding-left: rem(32);
		}
	}
}
.content-main {
	position: relative;
	z-index: 5;
	background: rgba(255, 255, 255, 0.72);
	padding-left: rem(15);
	padding-right: rem(15);
	@include adaptiveValue("padding-top", 60, 15);
	@include adaptiveValue("padding-bottom", 60, 15);
	@media (min-width: $tablet) {
		@include adaptiveValue("padding", 60, 1);
		background: rgba(255, 255, 255, 0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .content-main__title
	&__title {
		@include adaptiveValue("font-size", 56, 24);
		font-weight: 700;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: em(16, 56);
		}
	}
	// .content-main__text
	&__text {
		@include adaptiveValue("font-size", 20, 16);
		color: $grayColor;
		font-weight: 500;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: em(48, 20);
		}
	}
	// .content-main__button
	&__button {
		width: 100%;
		color: #ffffff;
		background-color: $orangeColor;
		font-weight: 600;
		border: 1px solid $orangeColor;
		@include adaptiveValue("min-height", 78, 45);
		@include adaptiveValue("font-size", 20, 16);
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
				background: rgba(255, 255, 255, 0.1);
				border-color: $orangeColor;
			}
		}
	}
}
.slider-main {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	@media (max-width: $tablet) {
		align-items: stretch;
		flex-direction: column-reverse;
	}
	// .slider-main__controls
	&__controls {
		align-self: stretch;
		margin-bottom: rem(20);
		@media (max-width: $tablet) {
			margin: rem(10) 0 rem(20) 0;
		}
	}
	// .slider-main__body
	&__body {
		@media (min-width: $tablet) {
			@include adaptiveValue("width", 934, 290);
		}
		@media (max-width: $tablet) {
			margin: 0 rem(-15);
		}
	}
	// .slider-main__slide
	&__slide {
		position: relative;
	}
	// .slider-main__image
	&__image {
		padding-bottom: 59.1%;
	}
	// .slider-main__content
	&__content {
		min-width: rem(295);
		max-height: rem(300);
		overflow: auto;
		color: inherit;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("padding", 24, 15);
		background: rgba(255, 255, 255, 0.9);
		@media (min-width: $mobile) {
			min-width: rem(350);
			position: absolute;
			@include adaptiveValue("right", 40, 0);
			@include adaptiveValue("bottom", 40, 0);
		}
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
	}
	// .slider-main__title
	&__title {
		@include adaptiveValue("font-size", 28, 22);
		font-weight: 600;
		line-height: 1.2;
		&:not(:last-child) {
			margin: em(4, 28);
		}
	}
	// .slider-main__text
	&__text {
		color: $grayColor;
		line-height: 1.5;
		&:not(:last-child) {
			margin: em(8, 16);
		}
	}
	// .slider-main__price
	&__price {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		line-height: 1.5;
		@include adaptiveValue("font-size", 20, 16);
		&::before {
			font-size: rem(12);
			margin-right: rem(10);
		}
	}
}
.controls-slider-main {
	display: flex;
	align-items: center;
	// .controls-slider-main__dotts
	&__dotts {
		flex: 1 1 auto;
		@media (min-width: $tablet) {
			padding-left: rem(20);
		}
		@media (max-width: $tablet) {
			justify-content: center;
		}
	}
	// .controls-slider-main__arrows
	&__arrows {
		@media (max-width: $tablet) {
			display: none;
		}
	}
}
/*================== PAGE-ADVANTAGES ==================*/
.advantages {
	@include adaptiveValue("padding-top", 88, 30);
	@include adaptiveValue("padding-bottom", 88, 30);
	// .advantages__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .advantages__item
	&__item {
		display: inline-grid;
		grid-template: auto auto / 85px 1fr;
		padding: rem(15) 0;
		@media (max-width: $tablet) {
			min-width: rem(280);
		}
		@media (max-width: $mobile) {
			grid-template: auto auto / auto 1fr;
		}
	}
	// .advantages__icon
	&__icon {
		grid-row: span 2;
		text-align: center;
		align-self: center;
		@media (max-width: $mobile) {
			padding-right: rem(15);
		}
	}
	// .advantages__title
	&__title {
		font-size: rem(18);
		font-weight: 600;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: em(2, 18);
		}
	}
	// .advantages__text
	&__text {
		color: $grayColor;
		line-height: 1.5;
	}
}
/*=================== PAGE-PRODUCTS ===================*/
.products {
	@include adaptiveValue("padding-bottom", 44, 30);
	// .products__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	// .products__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(32, 40);
		}
	}
	// .products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
		gap: rem(32);
	}
	// .products__item
	&__item {
	}
	// .products__footer
	&__footer {
		display: inline-flex;
		padding-top: rem(32);
		text-align: center;
		justify-content: center;
	}
	// .products__more
	&__more {
		border: 1px solid $orangeColor;
		min-width: rem(245);

		&._hold {
			opacity: 0.4;
			cursor: default;
		}
	}
}
.item-product {
	position: relative;
	display: flex;
	flex-direction: column;
	background: #f4f5f7;
	@media (any-hover: hover) {
		&:hover {
			.item-product__actions {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .item-product__labels
	&__labels {
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 2;
		@include adaptiveValue("right", 24, 10);
		@include adaptiveValue("top", 24, 10);
	}
	// .item-product__label
	&__label {
		width: rem(48);
		display: flex;
		flex: 0 0 rem(48);
		justify-content: center;
		align-items: center;
		color: #ffffff;
		font-weight: 500;
		border-radius: 50%;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		// .item-product__label_sale
		&_sale {
			background: #e97171;
		}
		// .item-product__label_new
		&_new {
			background: #2ec1ac;
		}
	}
	// .item-product__image
	&__image {
		padding-bottom: percent(301, 285);
	}
	// .item-product__body
	&__body {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: rem(16) rem(16) rem(30) rem(16);
	}
	// .item-product__content
	&__content {
		flex: 1 1 auto;
	}
	// .item-product__title
	&__title {
		@include adaptiveValue("font-size", 24, 20);
		font-weight: 600;
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: em(8, 24);
		}
	}
	// .item-product__text
	&__text {
		color: $grayColor;
		line-height: 1.5;
		&:not(:last-child) {
			margin-bottom: em(8, 24);
		}
	}
	// .item-product__prices
	&__prices {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		line-height: 1.5;
	}
	// .item-product__price
	&__price {
		@include adaptiveValue("font-size", 20, 16);
		font-weight: 600;
		// .item-product__price_old
		&_old {
			@include adaptiveValue("font-size", 16, 14);
			color: #b0b0b0;
			font-weight: normal;
			text-decoration: line-through;
			margin-left: rem(16);
		}
	}
	// .item-product__actions
	&__actions {
		@media (any-hover: none) {
			padding-top: rem(15);
		}
		@media (any-hover: hover) {
			opacity: 0;
			visibility: hidden;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s ease 0s;
			background-color: rgba(58, 58, 58, 0.74);
			z-index: 3;
		}
	}
}
.actions-product {
	// .actions-product__body
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	// .actions-product__button
	&__button {
		flex: 1 1 100%;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
		&._hold {
			opacity: 0.2;
			cursor: default;
		}
	}
	// .actions-product__link
	&__link {
		display: flex;
		align-items: center;
		color: inherit;
		font-weight: 600;
		transition: color 0.3s ease 0s;
		&::before {
			margin-right: rem(10);
			font-size: rem(16);
		}
		@media (any-hover: hover) {
			color: #ffffff;
			&:hover {
				color: $orangeColor;
			}
		}
	}
}
/*==================== PAGE-ROOMS =====================*/
.rooms {
	background: #fcf8f3;
	@include adaptiveValue("padding-top", 44, 30);
	@include adaptiveValue("padding-bottom", 44, 30);
	// .rooms__container
	&__container {
		@media (min-width: $tablet) {
			display: flex;
		}
	}
	// .rooms__body
	&__body {
		position: relative;
		flex: 0 0 math.div(465, 1240) * 100%;
		align-self: center;
		z-index: 5;
		@media (min-width: $tablet) {
			@include adaptiveValue("padding-right", 80, 30);
		}
		@media (max-width: $tablet) {
			margin-bottom: rem(30);
		}
	}
	// .rooms__title
	&__title {
		text-align: left;
		&:not(:last-child) {
			margin-bottom: em(8, 40);
		}
	}
	// .rooms__text
	&__text {
		line-height: 1.5;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .rooms__button
	&__button {
		min-width: rem(180);
		background: $orangeColor;
		color: #ffffff;
		@media (any-hover: hover) {
			&:hover {
				background-color: #8d6146;
			}
		}
	}
	// .rooms__slider
	&__slider {
		flex: 1 1 auto;
		min-width: 0;
		align-self: flex-start;
		@media (max-width: $mobileSmall) {
			margin: 0 rem(-15);
		}
	}
}
.slider-rooms {
	position: relative;
	// .slider-rooms__body
	&__body {
		position: relative;
		overflow: visible;
		&::before {
			content: "";
			height: 100%;
			width: 100vw;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fcf8f3;
			transform: translate(-100%, 0px);
			z-index: 2;
		}
	}
	// .slider-rooms__wrapper
	&__wrapper {
	}
	// .slider-rooms__slide
	&__slide {
		width: rem(372);
		position: relative;
		overflow: hidden;
		@include adaptiveValue("min-height", 585, 400);
		&.swiper-slide-active {
			.slider-rooms__image {
				height: 100%;
			}
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .slider-rooms__image
	&__image {
		height: 100%;
		transition: height 0.8s ease 0s;
		@media (min-width: $mobile) {
			height: 83%;
		}
	}
	// .slider-rooms__content
	&__content {
		max-width: rem(240);
		position: absolute;
		color: inherit;
		@include adaptiveValue("left", 24, 15);
		@include adaptiveValue("bottom", 24, 15);
		@include adaptiveValue("padding", 32, 15);
		background: rgba(255, 255, 255, 0.9);
		/* Если браузер поддерживает backdrop-filter */
		@supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
			background: rgba(255, 255, 255, 0.72);
			backdrop-filter: blur(31px);
		}
		&::before {
			width: rem(48);
			height: rem(48);
			position: absolute;
			bottom: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffffff;
			background-color: $orangeColor;
			transform: translate(100%, 0px);
		}
	}
	// .slider-rooms__label
	&__label {
	}
	// .slider-rooms__title
	&__title {
		font-weight: 600;
		@include adaptiveValue("font-size", 28, 24);
	}
	// .slider-rooms__arrows
	&__arrows {
		width: calc(100% - rem(48));
		position: absolute;
		top: 50%;
		left: rem(24);
		justify-content: space-between;
		pointer-events: none;
		transform: translate(0px, -50%);
		z-index: 5;
		@media (min-width: $pc) {
			width: calc(100% + rem(48));
			left: rem(-24);
		}
	}
	// .slider-rooms__dotts
	&__dotts {
		@media (min-width: $mobile) {
			width: 100%;
			position: absolute;
			bottom: rem(30);
			left: rem(396);
		}
		@media (max-width: $mobile) {
			justify-content: center;
			padding-top: rem(15);
		}
	}
}
.label-slider {
	display: grid;
	grid-template-columns: auto rem(27) auto;
	gap: rem(8);
	align-items: center;
	justify-content: start;
	color: $darkGrayColor;
	&:not(:last-child) {
		margin-bottom: rem(8);
	}
	// .label-slider__number
	&__number {
	}
	// .label-slider__line
	&__line {
		height: rem(1);
		background-color: $darkGrayColor;
	}
	// .label-slider__text
	&__text {
	}
}
/*==================== PAGE-TIPS =====================*/
.tips {
	@include adaptiveValue("padding-top", 44, 30);
	@include adaptiveValue("padding-bottom", 44, 30);
	// .tips__container
	&__container {
	}
	// .tips__title
	&__title {
	}
	// .tips__slider
	&__slider {
	}
}
.slider-tips {
	position: relative;
	// .slider-tips__body
	&__body {
		overflow: hidden !important;
		@include adaptiveValue("margin-left", -32, -15);
		@include adaptiveValue("margin-right", -32, -15);
		@include adaptiveValue("padding", 32, 15);
	}
	// .slider-tips__wrapper
	&__wrapper {
	}
	// .slider-tips__slide
	&__slide {
		display: flex;
		flex-direction: column;
		transition: box-shadow 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);
			}
		}
	}
	// .slider-tips__image
	&__image {
		padding-bottom: percent(251, 391);
	}
	// .slider-tips__content
	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		align-items: flex-start;
		padding: rem(15);
	}
	// .slider-tips__title
	&__title {
		flex: 1 1 auto;
		color: inherit;
		font-weight: 600;
		line-height: 1.2;
		@include adaptiveValue("font-size", 24, 18);
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin-bottom: em(8, 24);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}
	// .slider-tips__text
	&__text {
		color: $grayColor;
		font-size: rem(14);
		line-height: 1.5;
	}
	// .slider-tips__dotts
	&__dotts {
		@include adaptiveValue("padding-top", 8, 0);
		justify-content: center;
	}
	// .slider-tips__arrows
	&__arrows {
		width: calc(100% - rem(48));
		position: absolute;
		top: 50%;
		left: rem(24);
		justify-content: space-between;
		pointer-events: none;
		transform: translate(0, -50%);
		z-index: 5;
		@media (min-width: $pc) {
			width: calc(100% + rem(48));
			left: rem(-24);
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
}
/*==================== PAGE-FURNITURE =====================*/
.furniture {
	@include adaptiveValue("padding-bottom", 85, 40);
	// .furniture__container
	&__container {
	}
	// .furniture__label
	&__label {
		color: $darkGrayColor;
		text-align: center;
		line-height: 1.5;
		@include adaptiveValue("font-size", 20, 16);
		&:not(:last-child) {
			margin-bottom: em(8, 20);
		}
	}
	// .furniture__title
	&__title {
		margin-bottom: em(32, 40);
	}
	// .furniture__body
	&__body {
		position: relative;
		@media (any-hover: none) {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
	// .furniture__items
	&__items {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: column;
		align-items: center;
		gap: rem(16);
		@media (any-hover: hover) {
			justify-content: center;
		}
	}
	// .furniture__column
	&__column {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 rem(-8);
		&:first-child {
			justify-content: flex-end;
		}
	}
	// .furniture__row
	&__row {
		display: inline-grid;
		gap: rem(16);
		grid-template-columns: auto;
		grid-auto-flow: column;
		padding: 0 rem(8);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}
}
.row-furniture {
	// .row-furniture_left-top
	&_left-top {
		justify-content: end;
		align-items: end;
	}
	// .row-furniture_left-bottom
	&_left-bottom {
		justify-content: end;
		align-items: start;
	}
	// .row-furniture_center
	&_center {
		display: block;
	}
	// .row-furniture_right-top
	&_right-top {
		align-items: end;
	}
	// .row-furniture_right-bottom
	&_right-bottom {
		align-items: start;
	}
	// .row-furniture__item
	&__item {
		@media (any-hover: hover) {
			img {
				transition: all 0.8s ease 0s;
				filter: grayscale(1);
			}
			&:hover {
				img {
					filter: grayscale(0);
				}
			}
		}
	}
}
